<a href="https://colab.research.google.com/github/Naina-Kshatri/Python_Programs/blob/main/26_03(PATTERN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [2]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end="")
    print()

11111
22222
33333
44444
55555

In [3]:
for i in range(1,6):
     for j in range(1,6):
         print(j,end="")
     print()

12345
12345
12345
12345
12345

In [4]:
for i in range(5,0,-1):
     for j in range(0,5,1):
         print(i,end="")
     print()

55555
44444
33333
22222
11111

In [7]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end="")
    print()

54321
54321
54321
54321
54321

In [8]:
n=5
k=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print("{:2d}".format(k),end="")
        k+=1
    print()

 1 2 3 4 5
 6 7 8 910
1112131415
1617181920
2122232425

In [9]:
n=5
p=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print("{:2d}".format(p),end="")
        p+=2
    print()

 1 3 5 7 9
1113151719
2123252729
3133353739
4143454749

In [10]:
n=5
p=2
for i in range(1,n+1):
     for j in range(1,n+1):
        print("{:2d}".format(p),end="")
        p+=2
     print()

 2 4 6 810
1214161820
2224262830
3234363840
4244464850

In [13]:
n=5
for i in range(1,n+1):
     for j in range(1,n+1):
         print("{:2d}".format((i*j)),"",end="")
     print()

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [20]:
for i in range(1,6):
    for j in range(1,4):
        print("{} {}".format(j,i),"",end="")
    print()

1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [22]:
for i in range(1,6):
     for j in range(1,4):
         print("{} {}".format(i,j),"",end="")
     print()

1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3
4 1 4 2 4 3
5 1 5 2 5 3

In [23]:
n=5
for i in range(1,n+1):
    p=i
    for j in range(1,n+1):
        print("{:2d}".format(p),"",end="")
        p+=n
    print()

 1  6 11 16 21
 2  7 12 17 22
 3  8 13 18 23
 4  9 14 19 24
 5 10 15 20 25

In [24]:
n=5
for i in range(1,n+1):
    p1=i
    p2=n-i+1
    for j in range(1,n+1):
        if(j%2==1):
           print("{:2d}".format(p1),"",end="")
        else:
             print("{:2d}".format(p2),"",end="")
        p1+=n
        p2+=n
    print()

 1 10 11 20 21
 2  9 12 19 22
 3  8 13 18 23
 4  7 14 17 24
 5  6 15 16 25