<a href="https://colab.research.google.com/github/Naina-Kshatri/Python_Programs/blob/main/26_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NEON NUMBER (SUM OF DIGITS OF SQUARE OF NUMBER IS EQUAL TO NUMBER ITSELF)

In [26]:
num=int(input("enter anumber:"))
sq=num*num
sum=0
while(sq>0):
      sum=sum+sq%10
      sq=sq//10
if(num==sum):
  print(num,"is a neon number")
else:
     print(num,"is not a neon number")

enter anumber:9
9 is a neon number

AUTOMORPHIC NUMBER (SQUARE ENDS IS THE SAME DIGITS AS THE NUMBER ITSELF)

In [27]:
n=int(input("enter a number:"))
num=n
sq=n*n
t=10
equal=False
print("square of",n,"is",sq)
while(n>0):
      r=sq%t
      if(num==r):
        equal=True
        break
      n=n//10
      t=t*10
if(equal):
   print(num,"is automorphic number")
else:
     print(num,"is not automorphic number")

enter a number:6
square of 6 is 36
6 is automorphic number

EVIL-ODIOUS NUMBER

EVIL- non negative number that has even number of 1's in it's binary expression.

ODIOUS- represents odd number of 1's

In [28]:
n=int(input("enter a number:"))
count=0
while n!=0:
      if(n%2==1):
        count+=1
      n=n//2
if(count%2==0):
   print("evil number")
else:
     print("odious number")

enter a number:5
evil number

PRINT ALL EVIL NUMBERS BETWEEN 1 to n

In [29]:
limit=int(input("enter a limit:"))
print("evil number between 1 to",limit)
for i in range(1,limit+1):
    num=i
    count=0
    while num!=0:
          if(num%2==1):
             count+=1
          num=num//2
    if(count%2==0):
       print(i)

enter a limit:5
evil number between 1 to 5
3
5

FLOYD TRIANGLE

In [30]:
n=int(input("enter np. of rows:"))
a=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print(a,"",end="")
        a+=1
    print()

enter np. of rows:5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

REVERSE NUMBER

In [31]:
n=int(input("enter a number:"))
rev=0
while(n!=0):
      rev=rev*10
      rev=rev+n%10
      n=n//10
print("reverse of number is:",rev)

enter a number:142
reverse of number is: 241

SUM OF DIGIT

In [32]:
n=int(input("enter a number:"))
sum=0
while n!=0:
      d=n%10
      sum=sum+d
      n=n//10
print("Sum of digits is:",sum)

enter a number:123
Sum of digits is: 6

POWER OF GIVEN NUMBER

In [33]:
n=int(input("enter a number:"))
pow=int(input("enter power:"))
sum=1
i=1
while(i<=pow):
      sum=sum*n
      i+=1
print(n,"t0 the power",pow,"is",sum)

enter a number:8
enter power:3
8 t0 the power 3 is 512

COUNT THE DIGIT IN A NUMBER

In [34]:
n=int(input("enter a number:"))
count=0
while(n>0):
      n=n//10
      count+=1
print("total numbers of digit in number is:",count)

enter a number:4568
total numbers of digit in number is: 4

RANDOM NUMBER GENERATOR

In [35]:
import random
num=int(input("enter number of random number you want:"))
max=int(input("enter the maximum value of random number:"))
print(num,"random value between 0 to",max)
for i in range(max):
    print(random.randint(0,max))

enter number of random number you want:5
enter the maximum value of random number:100
5 random value between 0 to 100
35
79
52
9
71
71
82
33
11
34
85
58
23
51
62
12
23
70
10
62
56
61
34
74
49
50
14
58
56
47
13
30
66
0
13
34
97
78
39
8
88
35
82
71
59
87
23
77
43
98
76
23
0
50
76
31
93
83
24
32
63
53
83
84
43
49
2
87
16
19
50
9
61
57
72
92
58
35
20
32
62
73
58
55
97
12
48
4
87
16
10
92
69
89
62
23
14
47
67
100

CELCIUS TO FAHRENHEIT

In [36]:
c=float(input("enter temp in celcius:"))
f=(1.8*c)+32
print("temperature in fahrenheit={0:.2f}".format(f))

enter temp in celcius:25
temperature in fahrenheit=77.00

FAHRENHEIT TO CELCIUS

In [37]:
f=float(input("enter temp in fahrenheit:"))
c=((f-32)*5/9)
print("Temperature in celcius={0:.2f}".format(c))

enter temp in fahrenheit:98
Temperature in celcius=36.67

ANAGRAM

In [38]:
s1=input("enter first string:")
s2=input("enter second string:")
if(sorted(s1)==sorted(s2)):
   print("The strings are anagram")
else:
     print("The strings aren't anagram")

enter first string:cola
enter second string:coal
The strings are anagram

SUPER DIGIT

In [45]:
n=int(input("enter a number:"))
sum=0
while(n>0):
      sum=sum+(n%10)
      n=n//10
n=sum
print("super digit of number is:",n)

enter a number:5
super digit of number is: 5

LCM

In [40]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
if(a>b):
   min=a
else:
     min=b
while(1):
      if(min%a==0 and min%b==0):
         print("LCM is",min)
         break
      min=min+1

enter first number:3
enter second number:4
LCM is 12